@use '../../styles/breakpoints';
@use '../../styles/colors';
@use '../../styles/global';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.labelContainer {
  display: flex;
  gap: 1.75rem;
  align-items: center;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }

  .statusIcon {
    font-size: 1.5rem;
  }

  b {
    font-size: 1rem;
  }
}

.content {
  display: flex;
  margin-left: 2.5rem;

  p {
    color: colors.$text;
    font-family: Apercu Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
