<div class="container"> 
  <h4 id="about">ABOUT US</h4>
  <div class="spacer"></div>
  <div class="header">
    <h3>At Hack for Impact, you will join over&nbsp;</h3>
      <h2>200+ hackers</h2>
      <h3>&nbsp;at UC Berkeley to innovate for social good.</h3>
  </div>
  <div class="mainRow">
    <h2>Our Vision</h2>
    <p class="description">To solve the most pressing challenges of our world, 
      we will need the best and the brightest minds to work collaboratively on 
      creative, ethical, and technical solutions that will propel humanity forward. 
      Our audience is anyone, anywhere, who believes that 
      technology can solve hard problems, grow prosperity, 
      and expand human possibilities.</p>
  </div>
  <div class="mainRow">
    <h2>The Mission</h2>
    <div>
      <p class="description">Hack for Impact 2024 is a 1-day hackathon co-hosted by 
        Blueprint and Cal Hacks at UC Berkeley. 
        The event’s mission is two-fold:</p>
      <div class="imagerow"></div>
      <div class="imagerow"></div>
    </div>
  </div>
 
</div>

<style lang="scss">
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 46.5rem;
    margin: 0 auto;
  }
  div.spacer {
    height: 1.5rem;
  }

  div.mainRow {

  }

  div.imageRow {

  }

  div.header {
    // display: flex;
    // flex-direction: row;
  }

  p.description {
    font-weight: 600;
  }

  p.bold  {
    font-weight: 700;
  }
</style>
