---
import { Image } from 'astro:assets';
import shapes from '../graphics/clouds_star_twirl_1.svg';
import gallery1 from '../graphics/about/working.webp';
import gallery2 from '../graphics/about/crowd_large.webp';
import gallery3 from '../graphics/about/fourppl.webp';
import gallery4 from '../graphics/about/bear.webp';
import gallery5 from '../graphics/about/tools.webp';
import gallery6 from '../graphics/about/crowd.webp';
import gallery7 from '../graphics/about/bigtable.webp';
import gallery8 from '../graphics/about/caffeinated.webp';
import gallery9 from '../graphics/about/calhacks_director.webp';
import gallery10 from '../graphics/about/focused.webp';
import gallery11 from '../graphics/about/hacker_group.webp';
import gallery12 from '../graphics/about/hackers_indoors.webp';
import gallery13 from '../graphics/about/hackers_outdoors.webp';
import gallery14 from '../graphics/about/levitating.webp';
import gallery15 from '../graphics/about/thinking.webp';
import gallery16 from '../graphics/about/thumbsup.webp';
import educate from '../graphics/about/bigtable.webp';
import empower from '../graphics/about/hackers_outdoors.webp';

const galleryImages = [
  { src: gallery1, alt: 'Group of 5 people coding' },
  { src: gallery2, alt: 'Large convention filled with people' },
  { src: gallery3, alt: 'CalHacks members' },
  { src: gallery4, alt: 'Hackers with a big bear' },
  { src: gallery5, alt: 'Girl with tools' },
  { src: gallery6, alt: 'Large group of people at a hackathon' },
  { src: gallery7, alt: 'Someone at a sponsor table' },
  { src: gallery8, alt: 'Hackers smiling at the camera' },
  { src: gallery9, alt: 'Four CalHacks directors' },
  { src: gallery10, alt: 'Girls focused on coding' },
  { src: gallery11, alt: 'Group photo of hackers' },
  { src: gallery12, alt: 'Four hackers indoors' },
  { src: gallery13, alt: 'Four hackers outdoors' },
  { src: gallery14, alt: 'Hackers in the middle of a jump' },
  { src: gallery15, alt: 'A hacker faced with a hard problem' },
  { src: gallery16, alt: 'Hackers posing at the camera' },
];
---

<section>
  <h4 id="about">ABOUT US</h4>
  <div class="spacer"></div>
  <div class="header">
    <h3>
      At Hack for Impact, you will join over
      <div class="text">300+ hackers</div>
      at UC Berkeley to innovate for social good.
    </h3>
  </div>

  <div class="imageRow">
    <div class="gallery">
      {galleryImages.map(img => <Image class="img" {...img} loading="eager" />)}
      {galleryImages.map(img => <Image class="img" {...img} loading="eager" />)}
    </div>
  </div>

  <Image class="shape" src={shapes} alt="" />
  <div class="mission-vision">
    <div class="bigRow">
      <h2 class="left">Our Vision</h2>
      <p>
        To solve the most pressing challenges of our world, we will need the
        best and the brightest minds to work collaboratively on creative,
        ethical, and technical solutions that will propel humanity forward. Our
        audience is anyone, anywhere, who believes that technology can solve
        hard problems, grow prosperity, and expand human possibilities.
      </p>
    </div>
    <div class="bigRow">
      <h2 class="left">The Mission</h2>
      <div>
        <p>
          Hack for Impact 2024 is a 1-day hackathon co-hosted by Blueprint and
          Cal Hacks at UC Berkeley. The event’s mission is two-fold:
        </p>
        <div class="captionRow">
          <Image src={empower} alt="Group of hackers mid-jump" />
          <p>
            To <b>empower</b> student hackers to develop creative solutions for relevant
            social causes and collaborate with non-profit organizations on ethical
            innovation with tangible community impact.
          </p>
        </div>
        <div class="captionRow">
          <Image src={educate} alt="People gathered in a conference" />
          <p>
            To <b>educate</b> students via a <b
              >series of workshops and speaker panels</b
            >
            to learn about professional opportunities in social good, as well as
            emerging technologies and their ethical aspects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/colors';
  @use '../styles/fonts';
  @use '../styles/breakpoints';

  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
  }

  div.spacer {
    height: 1.5rem;
  }

  div.mission-vision {
    width: 100%;
    padding-inline: 20px;

    @media (min-width: breakpoints.$tablet) {
      width: min(50rem, 90%);
    }
  }

  div.bigRow {
    margin-top: 8.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0 6.125rem;
    text-align: left;

    @media (min-width: breakpoints.$tablet) {
      flex-direction: row;
    }
  }

  h2.left {
    display: inline-block;
    min-width: 12rem;
  }

  div.captionRow {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    gap: 1.5rem;

    @media (min-width: breakpoints.$phone) {
      flex-direction: row;
    }

    img {
      background-color: colors.$secondary;
      min-width: 168px;
      max-width: 168px;
      height: 113px;
      margin: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  div.text {
    font-family: fonts.$serif;
    font-weight: 600;
    display: inline-block;
  }

  div.spacer {
    height: 1.5rem;
  }

  div.header {
    display: inline-block;
    width: 100%;
    padding-inline: 20px;

    @media (min-width: breakpoints.$tablet) {
      padding-inline: 20%;
    }
  }

  div.header h2 {
    display: inline-block;
  }

  div.imageRow {
    position: relative;
    margin-top: 74px;
    height: 171px;
    width: 100%;
    overflow-x: hidden;

    .gallery {
      $gap: 24px;

      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      gap: $gap;
      padding-left: $gap;
      animation: slideshow 30s linear infinite;
      transform: translateX(0, 0, 0);

      @keyframes slideshow {
        to {
          transform: translateX(-50%);
        }
      }
    }
  }

  .img {
    border-radius: 8px;
    width: 264px;
    height: 171px;
    object-fit: cover;
  }

  .shape {
    position: absolute;
    left: 0px;
    bottom: 88px;
    display: none;

    @media (min-width: breakpoints.$tablet) {
      display: block;
    }
  }
</style>
