---
import { Image } from 'astro:assets';
import shapes from '../graphics/shapes_twirl_2.svg';
---

<section>
  <h4 id="contact">CONTACT US</h4>
  <div class="spacer"></div>
  <div class="row">
    <h3>Any other&nbsp;</h3><h2>questions?</h2>
  </div>
  <div class="spacer"></div>
  <p class="description">
    We are here to help you! Please check the FAQ first; If your question is not
    already answered, you can reach us at
    <a class="email" href="mailto:external@calblueprint.org"
      >external@calblueprint.org</a
    >.<br />
    <br />
    Please email <a class="email" href="mailto:allisonhong1023@berkeley.edu"
      >allisonhong1023@berkeley.edu</a
    >
    if you need a particular accommodation. Note that requests made less than 24
    hours before the event will likely not be accommodated.
  </p>
  <Image class="img" src={shapes} alt="" />
</section>

<style lang="scss">
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20%;
    padding-top: 10.75rem;
  }

  div.spacer {
    height: 1.5rem;
  }

  div.row {
    display: flex;
    flex-direction: row;
  }

  p.description {
    font-weight: 400;
  }

  a.email {
    text-decoration-line: underline; // the underline is too close to the text...
    text-underline-offset: 2px;
  }

  .img {
    position: absolute;
    right: 0rem; 
    top: 4.56rem;
  }
</style>
