---
import { Image } from 'astro:assets';
import Button from './Button.astro';
import TitleAccent from './TitleAccent.astro';
import stopwatchIcon from '../graphics/stopwatch.svg';
import arrowsIcon from '../graphics/arrows.svg';
---

<section>
  <h4>FEBRUARY 25, 2024 @ UNIVERSITY OF CALIFORNIA, BERKELEY</h4>
  <h1>
    Hack for Impact 2024 connects a community of
    <TitleAccent
      words={['change-makers', 'leaders', 'creators', 'visionaries']}
    />
    to tackle social challenges
  </h1>
  <div>
    <Button variant="secondary">
      <p class="btn-text">Registration will open February 1!</p>
      <Image src={stopwatchIcon} alt="stopwatch" />
    </Button>
    <span>
      Stay tuned! In the meantime, follow

      <a
        href="https://www.instagram.com/calblueprint/"
        target="_blank"
        referrerpolicy="no-referrer">@calblueprint</a
      >

      and

      <a
        href="https://www.instagram.com/calhacks/"
        target="_blank"
        referrerpolicy="no-referrer"
      >@calhacks</a>

      on Instagram for updates.
    </span>
  </div>
  <Image class="arrows" src={arrowsIcon} alt="arrows" />
</section>

<style lang="scss">
  @use '../styles/colors';

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 862px; // fixed width for now
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    gap: 20px;

    h1 {
      margin: 0.5rem 0;
    }

    div {
      display: flex;
      flex-direction: column;
      width: min-content;
      gap: 20px;
    }

    span > a:hover {
      text-decoration-line: underline;
    }
  }

  .btn-text {
    width: max-content;
    font-size: 1.25rem;
  }

  // arrow scroll indication
  .arrows {
    position: absolute;
    bottom: 5svh;
    animation: bounce 5s ease infinite;
  }

  @keyframes bounce {
    0%,
    10%,
    25%,
    40%,
    50% {
      transform: translateY(0);
    }

    20% {
      transform: translateY(-20px);
    }

    30% {
      transform: translateY(-10px);
    }
  }
</style>
