<div class="container">
  <main>
    <div>
      <h3 class="gray">Cal Hacks x Blueprint</h3>
      <h1>Hack for Impact</h1>
      <div class="spacer"></div>
    </div>
    <div>
      <h2>February 25, 2024</h2>
      <p class="gray">Pauley Ballroom @ University of California, Berkeley</p>
      <p class="spacer">
        We are connecting a community of leaders, creators, and change makers to
        tackle social challenges.
      </p>
      <h4 class="spacer">
        Registration is opening soon — stay tuned! In the meantime, follow
        @calblueprint and @calhacks on Instagram for updates.
      </h4>
    </div>
  </main>
  <aside></aside>
</div>

<style lang="scss">
  @use '../styles/breakpoints';
  @use '../styles/colors';

  .container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding-left: 1rem;
    position: relative;

    @media (min-width: breakpoints.$laptop) {
      padding: 0 5rem 5rem 5rem;
    }
  }

  main {
    margin: auto 0;

    div:last-child {
      width: 60%;
    }
  }

  .gray {
    color: colors.$gray;
  }

  div.spacer {
    height: 0.5rem;

    @media (min-width: breakpoints.$phone) {
      visibility: hidden;
    }
  }

  p.spacer {
    margin-top: 1.5rem;
  }

  h4.spacer {
    margin-top: 4rem;
  }
</style>
