<div class="flex w-full flex-grow pl-4 lg:px-20 lg:pb-20 relative">
    <main class="my-auto">
        <div>
            <h3 class="text-gray">Cal Hacks x Blueprint</h3>
            <h1>Hack the Bay</h1>
            <div class="h-2 sm:invisible"></div>
        </div>
        <div class="w-3/5">
            <h2>February 25, 2024</h2>
            <p class="text-gray">
                Pauley Ballroom @ University of California, Berkeley
            </p>
            <p class="mt-6">
                We are connecting a community of leaders, creators, and change
                makers to tackle social challenges.
            </p>
            <h4 class="mt-16">
                Registration is opening soon — stay tuned! In the meantime,
                follow @calblueprint and @calhacks on Instagram for updates.
            </h4>
        </div>
    </main>
    <aside></aside>
</div>
