---
import Button from './Button.astro';
import stopwatchIcon from '../graphics/stopwatch.svg';
import TitleAccent from './TitleAccent.astro';
---

<section>
  <h4>FEBRUARY 25, 2024 @ UNIVERSITY OF CALIFORNIA, BERKELEY</h4>
  <h1>
    Hack for Impact 2024 connects a community of
    <TitleAccent
      words={['change-makers', 'leaders', 'creators', 'visionaries']}
    />
    to tackle social challenges
  </h1>
  <Button>
    <p>Registration will open February 1!</p>
    <img src={stopwatchIcon.src} alt="stopwatch" />
  </Button>
  <span>
    Stay tuned! In the meantime, follow

    <a
      href="https://www.instagram.com/calblueprint/"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      @calblueprint
    </a>

    and

    <a
      href="https://www.instagram.com/calhacks/"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      @calhacks
    </a>

    on Instagram for updates.
  </span>
</section>

<style lang="scss">
  @use '../styles/colors';

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15% 10svh 15%;
    margin: auto 0;
    text-align: center;
    gap: 20px;

    & > span {
      padding: 0 28%;
    }
  }
</style>
