---
interface Link {
    name: string;
    url: string;
}

interface Props {
    links: Link[];
}

const { links } = Astro.props;
---

<nav class="flex w-full h-14 justify-between items-center px-8">
    <!-- logo -->
    <div class="h-6 w-6 rounded-full bg-gray"></div>

    <!-- dropdown toggle -->
    <div class="md:invisible"></div>

    <section
        class="flex justify-evenly gap-8 absolute invisible md:relative md:visible"
    >
        {links.map((l) => <a href={l.url}>{l.name}</a>)}
    </section>
</nav>
