---
import NonProfit from './NonProfit.astro';
---

<section class="lead" id="nonprofits">
  <h4>NON-PROFITS</h4>
  <h3>We’re a hackathon with <b class="emphasis">social good</b> at its heart.</h3>
  <p>
    Our nonprofits have presented several problem areas and projects to tackle their most pressing needs. Here are the incredible organizations that we’ve partnered with:
  </p>
</section>

<section class="nonprofits">
  <NonProfit 
    name="Bay Area Street Soccer" 
    description="Building life-changing community-based sports programs reaching the least-served communities across the U.S." 
    image="/nonprofits/street-soccer.jpeg"
    startColor="rgba(223, 114, 145, 0.3)"
    endColor="rgba(223, 114, 145, 1)"
  />
  <NonProfit 
    name="1951 Coffee" 
    description="Promoting the well-being of the refugee community in the U.S. through job training and employment" 
    image="/nonprofits/1951-coffee-company.jpg"
    startColor="rgba(247, 207, 82, 0.3)"
    endColor="rgba(247, 207, 82, 1)"
  />
  <NonProfit 
    name="The Dancing Cat" 
    description="Animal rescue organization dedicated to saving at-risk cats from the San Jose Animal Care Center" 
    image="/nonprofits/dancing-cat.webp"
    startColor="rgba(128, 211, 241, 0.3)"
    endColor="rgba(128, 211, 241, 1)"
  />
  <NonProfit 
    name="Coming soon..." 
    description="This amazing nonprofit will be announced soon!" 
    image="/nonprofits/coming-soon.webp"
    startColor="rgba(120, 120, 120, 0.3)"
    endColor="rgba(120, 120, 120, 1)"
  />
  <NonProfit 
    name="Coming soon..." 
    description="This amazing nonprofit will be announced soon!" 
    image="/nonprofits/coming-soon.webp"
    startColor="rgba(120, 120, 120, 0.3)"
    endColor="rgba(120, 120, 120, 1)"
  />
  <NonProfit 
    name="Coming soon..." 
    description="This amazing nonprofit will be announced soon!" 
    image="/nonprofits/coming-soon.webp"
    startColor="rgba(120, 120, 120, 0.3)"
    endColor="rgba(120, 120, 120, 1)"
  />
</section>

<style lang="scss">
  @use '../styles/breakpoints';
  @use '../styles/colors';
  
  .lead {
    width: 100%;
    padding-left: 1rem;
    position: relative;
    display: flex; 
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    text-align: center;
    color: colors.$text;
  
    @media (min-width: breakpoints.$laptop) {
      padding: 0 5rem 2rem 5rem;
      grid-template-columns: 1fr 1fr 1fr; 
      max-width: 800px;
      margin: auto;
    }
  }
  
  .emphasis {
    font-family: "new-spirit", serif;
    font-weight: 600;
  }
  
  h3 {
    font-weight: 300;
  }

  .nonprofits {
    width: 100%;
    padding-left: 1rem;
    position: relative;
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 24px;

    @media (min-width: breakpoints.$laptop) {
      padding: 0 5rem 5rem 5rem;
      grid-template-columns: 1fr 1fr 1fr; 
    }
  }
</style>
