---
import NonProfit from './NonProfit.astro';
import { Image } from 'astro:assets';
import sparkles from '../graphics/shapes_sparkle_2.svg';
import clouds from '../graphics/clouds_star_twirl_2.svg';
---

<div class="container">
  <Image src={sparkles} class="sparkles" alt="" />
  <Image src={clouds} class="clouds" alt="" />
  <section class="lead">
    <h4 id="nonprofits">NON-PROFITS</h4>
    <h3>
      We’re a hackathon with <b class="emphasis">social good</b> at its heart.
    </h3>
    <p>
      Our nonprofits have presented several problem areas and projects to tackle
      their most pressing needs. Here are the incredible organizations that
      we’ve partnered with:
    </p>
  </section>

  <section class="nonprofits">
    <NonProfit
      name="The Hack Foundation"
      description="Giving nonprofits the financial tools they need to make an impact and maintain transparent finances."
      image="/nonprofits/the-hack-foundation.webp"
      startColor="rgba(236, 55, 80, 0.3)"
      endColor="rgba(236, 55, 80, 1)"
      url="https://hackclub.com/hcb"
    />
    <NonProfit
      name="1951 Coffee"
      description="Promoting the well-being of the refugee community in the U.S. through job training and employment"
      image="/nonprofits/1951-coffee-company.webp"
      startColor="rgba(247, 207, 82, 0.3)"
      endColor="rgba(247, 207, 82, 1)"
      url="https://www.1951coffee.com/"
    />
    <NonProfit
      name="The Dancing Cat"
      description="Animal rescue organization dedicated to saving at-risk cats from the San Jose Animal Care Center"
      image="/nonprofits/dancing-cat.webp"
      startColor="rgba(128, 211, 241, 0.3)"
      endColor="rgba(128, 211, 241, 1)"
      url="https://www.thedancingcat.org/"
    />
    <NonProfit
      name="Friends of Hoover Durant Public Library"
      description="To bring a public library branch back to neighborhoods in West Oakland, California."
      image="/nonprofits/hoover-durant.webp"
      startColor="rgba(255, 140, 55, 0.3)"
      endColor="rgba(255, 140, 55, 1)"
      url="https://www.fohdpl.org/"
    />
    <NonProfit
      name="BRIDGEGOOD"
      description="Empower diverse students to design for social good by offering inclusive tech access, design opportunities, and equipping job seekers with professional resources."
      image="/nonprofits/bridgegood.jpg"
      startColor="rgba(51, 214, 166, 0.3)"
      endColor="rgba(51, 214, 166, 1)"
      url="https://bridgegood.org/"
    />
    <NonProfit
      name="QueerLife Space"
      description="Provides affordable, evidence-based mental health services to the LGBTQIA+ community in the Bay Area."
      image="/nonprofits/queer-life.png"
      startColor="rgba(165, 51, 214, 0.3)"
      endColor="rgba(165, 51, 214, 1)"
      url="https://www.queerlifespace.org/"
    />
    <div class="centered">
      <NonProfit
        name="ARTZ Philadelphia"
        description="Enhance well-being of people living with dementia and their care partners through joyful interactions around arts and culture."
        image="/nonprofits/artz.jpg"
        startColor="rgba(91, 192, 222, 0.3)"
        endColor="rgba(91, 192, 222, 1)"
        url="https://www.artzphilly.org/"
      />
    </div>
  </section>
</div>

<style lang="scss">
  @use '../styles/breakpoints';
  @use '../styles/colors';

  .lead {
    width: 80%;
    padding-left: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    text-align: center;
    color: colors.$text;
    padding-bottom: 2rem;
    margin: auto;
    margin-top: 90px;

    @media (min-width: breakpoints.$laptop) {
      margin-top: 180px;
      padding: 0 20%;
      padding-bottom: 30px;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .emphasis {
    font-family: 'new-spirit', serif;
    font-weight: 600;
  }

  .nonprofits {
    width: 100%;
    padding: 0 10%;
    position: relative;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
    gap: 24px;

    @media (min-width: breakpoints.$laptop) {
      padding: 0 156px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .centered {
      grid-column: 2;
    }
  }

  .container {
    position: relative;
  }

  .clouds {
    display: none;
    position: absolute;
    top: 72px;
    right: -60px;
    height: 120px;
    @media (min-width: breakpoints.$laptop) {
      display: block;
    }
  }

  .sparkles {
    display: none;
    position: absolute;
    top: 0px;
    left: -18px;
    height: 90px;
    @media (min-width: breakpoints.$laptop) {
      display: block;
    }
  }
</style>
