---
import { Image } from 'astro:assets';
import shapesLeft from '../graphics/shapes_twirl_1.svg';
import shapesRight from '../graphics/shapes_sparkle_1.svg';
---

<section>
  <Image class="shape-left" src={shapesLeft} alt="" />
  <Image class="shape-right" src={shapesRight} alt="" />

  <div class="header-container">
    <h4 id="schedule">SCHEDULE</h4>
    <h3>1 day, but <b>countless</b> possibilities</h3>
    <p>
      From workshops to speaker events, we are dedicated to creating an
      inclusive environment where hackers of all experience levels feel
      empowered to build something they’re proud of
    </p>
  </div>

  <table>
    <tr>
      <td>8:00 - 9:00 am</td>
      <td>Registration</td>
    </tr>
    <tr>
      <td>9:00 - 9:30 am</td>
      <td>Welcome Note by Olaf Groth @ Pauley Ballroom</td>
    </tr>
    <tr>
      <td>9:30 am</td>
      <td>Hacking Begins</td>
    </tr>
    <tr>
      <td>9:30 - 10:00 am</td>
      <td>Team Mixer (optional) @ West Pauley Patio</td>
    </tr>
    <tr>
      <td>10:00 - 10:45 am</td>
      <td
        >Speaker – Use of AI & LLMs in Search and Recommendation Applications by
        Vespa</td
      >
    </tr>
    <tr>
      <td>11:00 - 11:45 am</td>
      <td>Workshop – Intro to React by Cubstart</td>
    </tr>
    <tr>
      <td>12:00 - 12:45 pm</td>
      <td>Speaker – Ryan MacCarrigan</td>
    </tr>
    <tr>
      <td>1:00 - 2:00 pm</td>
      <td>Lunch Break</td>
    </tr>
    <tr>
      <td>2:00 - 3:00 pm</td>
      <td>Workshop – Wireframing with Figma by Figma Decal</td>
    </tr>
    <tr>
      <td>3:00 - 4:00 pm</td>
      <td>Workshop – Deep Learning for Visual Data x Social Good by ML@B</td>
    </tr>
    <tr>
      <td>4:00 - 5:00 pm</td>
      <td
        >Speaker – My Creative Pivot: Product Design to Giving a Voice to the
        Users by Tovah Cook</td
      >
    </tr>
    <tr>
      <td>5:00 - 6:00 pm</td>
      <td>Workshop – TBD</td>
    </tr>
    <tr>
      <td>6:00 - 7:00 pm</td>
      <td>Dinner Break</td>
    </tr>
    <tr>
      <td>7:00 pm</td>
      <td>Hacking Ends</td>
    </tr>
    <tr>
      <td>7:00 - 8:00 pm</td>
      <td>Judging + Hackathon Expo</td>
    </tr>
    <tr>
      <td>8:00 - 8:30 pm</td>
      <td>Closing Keynote by Tovah Cook</td>
    </tr>
    <tr>
      <td>8:30 - 9:00 pm</td>
      <td>Prizes + Closing Remarks</td>
    </tr>
  </table>
</section>

<style lang="scss">
  @use '../styles/fonts';
  @use '../styles/breakpoints';

  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.12rem;
    padding-top: 11.25rem;
    width: 100%;
    padding-inline: 20px;

    @media (min-width: breakpoints.$tablet) {
      padding-inline: 20%;
    }

    .header-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.5rem;

      b {
        font-family: fonts.$serif;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 150%;
      }
    }

    table {
      width: 100%;
      border-radius: 1rem; /* Nonzero border radius with hidden */
      overflow: hidden; /* overflow got rid of table's outer border */

      & td:first-child {
        flex: 1;
        font-weight: 500;
        text-transform: uppercase;
        // line-height: 3.5rem;
        padding: 1.125rem 0;
        text-align: right;
        padding-right: min(3vw, 1.5rem);
      }

      & td:last-child {
        flex: 1;
        padding-left: min(3vw, 3rem);

        @media (min-width: breakpoints.$phone) {
          flex: 3;
        }
      }
    }

    table,
    th,
    td {
      border: 1px solid #dfd2c4;
      border-collapse: collapse;
    }
  }

  .shape-left {
    $offset: 200px;

    position: absolute;
    top: 100px;
    left: -$offset;
    z-index: -1;
    display: none;
    transform: translateX(clamp(0px, 15vw, $offset));

    @media (min-width: breakpoints.$tablet) {
      display: block;
    }
  }

  .shape-right {
    $offset: 100px;

    position: absolute;
    top: 150px;
    right: -$offset;
    z-index: -1;
    display: none;
    transform: translateX(clamp(#{-$offset}, -15vw, 0px));

    @media (min-width: breakpoints.$tablet) {
      display: block;
    }
  }
</style>
