---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="We are connecting a community of leaders, creators, and change makers to tackle social challenges."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="https://calblueprint.org/assets/logo-aae705d5995375e5f2da3eef8f278fc77faadbd8fbe82772c05e1508b7d17e67.png">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @use '../styles/global';
</style>
